<div class="header">
  <i class="fa fa-plus-circle header-plus"></i>
</div>
<div class="createPostContainer hidden">
<input type="text" placeholder="Image URL" value="" name="url" class="createUrl">
<textarea name="caption" placeholder="Image Caption" class="createImageCaption"></textarea>
<button type="submit" class="submitButton"><i class="fa fa-picture-o"></i> Add Image</button>
<button class="cancelButton">CANCEL</button>
</div>
